#header{
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dashboard_title{
    margin-top: 20px;
    padding: 10px;
    border: 1px;
    background-color: blueviolet;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tasklist{
    background-color: aquamarine;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 20px;
}

#tasklist-item{
    padding: auto;
}

.button{
    margin: 10px;
    padding: 10px;
}